// Based on 2014 Material Design color palettes:
// https://material.io/design/color/#tools-for-picking-colors

// Red
$red-50: #733447;
$red-100: #733447;
$red-200: #733447;
$red-300: #733447;
$red-400: #733447;
$red-500: #733447;
$red-600: #733447;
$red-700: #733447;
$red-800: #733447;
$red-900: #733447;
$red-a100: #733447;
$red-a200: #733447;
$red-a400: #733447;
$red-a700: #733447;

// Pink
$pink-50: #733447;
$pink-100: #733447;
$pink-200: #733447;
$pink-300: #733447;
$pink-400: #733447;
$pink-500: #733447;
$pink-600: #733447;
$pink-700: #733447;
$pink-800: #733447;
$pink-900: #733447;
$pink-a100: #733447;
$pink-a200: #733447;
$pink-a400: #733447;
$pink-a700: #733447;

// Purple
$purple-50: #52677C;
$purple-100: #52677C;
$purple-200: #52677C;
$purple-300: #52677C;
$purple-400: #52677C;
$purple-500: #52677C;
$purple-600: #52677C;
$purple-700: #52677C;
$purple-800: #52677C;
$purple-900: #52677C;
$purple-a100: #52677C;
$purple-a200: #52677C;
$purple-a400: #52677C;
$purple-a700: #52677C;

// Deep Purple
$deep-purple-50: #52677C;
$deep-purple-100: #52677C;
$deep-purple-200: #52677C;
$deep-purple-300: #52677C;
$deep-purple-400: #52677C;
$deep-purple-500: #52677C;
$deep-purple-600: #52677C;
$deep-purple-700: #52677C;
$deep-purple-800: #52677C;
$deep-purple-900: #52677C;
$deep-purple-a100: #52677C;
$deep-purple-a200: #52677C;
$deep-purple-a400: #52677C;
$deep-purple-a700: #52677C;

// Indigo
$indigo-50: #52677C;
$indigo-100: #52677C;
$indigo-200: #52677C;
$indigo-300: #52677C;
$indigo-400: #52677C;
$indigo-500: #52677C;
$indigo-600: #52677C;
$indigo-700: #52677C;
$indigo-800: #52677C;
$indigo-900: #52677C;
$indigo-a100: #52677C;
$indigo-a200: #52677C;
$indigo-a400: #52677C;
$indigo-a700: #52677C;

// Blue
$blue-50: #52677C;
$blue-100: #52677C;
$blue-200: #52677C;
$blue-300: #52677C;
$blue-400: #52677C;
$blue-500: #52677C;
$blue-600: #52677C;
$blue-700: #52677C;
$blue-800: #52677C;
$blue-900: #52677C;
$blue-a100: #52677C;
$blue-a200: #52677C;
$blue-a400: #52677C;
$blue-a700: #52677C;

// Light Blue
$light-blue-50: #52677C;
$light-blue-100: #52677C;
$light-blue-200: #52677C;
$light-blue-300: #52677C;
$light-blue-400: #52677C;
$light-blue-500: #52677C;
$light-blue-600: #52677C;
$light-blue-700: #52677C;
$light-blue-800: #52677C;
$light-blue-900: #52677C;
$light-blue-a100: #52677C;
$light-blue-a200: #52677C;
$light-blue-a400: #52677C;
$light-blue-a700: #52677C;

// Cyan
$cyan-50: #52677C;
$cyan-100: #52677C;
$cyan-200: #52677C;
$cyan-300: #52677C;
$cyan-400: #52677C;
$cyan-500: #52677C;
$cyan-600: #52677C;
$cyan-700: #52677C;
$cyan-800: #52677C;
$cyan-900: #52677C;
$cyan-a100: #52677C;
$cyan-a200: #52677C;
$cyan-a400: #52677C;
$cyan-a700: #52677C;

// Teal
$teal-50: #52677C;
$teal-100: #52677C;
$teal-200: #52677C;
$teal-300: #52677C;
$teal-400: #52677C;
$teal-500: #52677C;
$teal-600: #52677C;
$teal-700: #52677C;
$teal-800: #52677C;
$teal-900: #52677C;
$teal-a100: #52677C;
$teal-a200: #52677C;
$teal-a400: #52677C;
$teal-a700: #52677C;

// Green
$green-50: #257B76;
$green-100: #257B76;
$green-200: #257B76;
$green-300: #257B76;
$green-400: #257B76;
$green-500: #257B76;
$green-600: #257B76;
$green-700: #257B76;
$green-800: #257B76;
$green-900: #257B76;
$green-a100: #257B76;
$green-a200: #257B76;
$green-a400: #257B76;
$green-a700: #257B76;

// Light Green
$light-green-50: #257B76;
$light-green-100: #257B76;
$light-green-200: #257B76;
$light-green-300: #257B76;
$light-green-400: #257B76;
$light-green-500: #257B76;
$light-green-600: #257B76;
$light-green-700: #257B76;
$light-green-800: #257B76;
$light-green-900: #257B76;
$light-green-a100: #257B76;
$light-green-a200: #257B76;
$light-green-a400: #257B76;
$light-green-a700: #257B76;

// Lime
$lime-50: #257B76;
$lime-100: #257B76;
$lime-200: #257B76;
$lime-300: #257B76;
$lime-400: #257B76;
$lime-500: #257B76;
$lime-600: #257B76;
$lime-700: #257B76;
$lime-800: #257B76;
$lime-900: #257B76;
$lime-a100: #257B76;
$lime-a200: #257B76;
$lime-a400: #257B76;
$lime-a700: #257B76;

// Yellow
$yellow-50: #C78C56;
$yellow-100: #C78C56;
$yellow-200: #C78C56;
$yellow-300: #C78C56;
$yellow-400: #C78C56;
$yellow-500: #C78C56;
$yellow-600: #C78C56;
$yellow-700: #C78C56;
$yellow-800: #C78C56;
$yellow-900: #C78C56;
$yellow-a100: #C78C56;
$yellow-a200: #C78C56;
$yellow-a400: #C78C56;
$yellow-a700: #C78C56;

// Amber
$amber-50: #C78C56;
$amber-100: #C78C56;
$amber-200: #C78C56;
$amber-300: #C78C56;
$amber-400: #C78C56;
$amber-500: #C78C56;
$amber-600: #C78C56;
$amber-700: #C78C56;
$amber-800: #C78C56;
$amber-900: #C78C56;
$amber-a100: #C78C56;
$amber-a200: #C78C56;
$amber-a400: #C78C56;
$amber-a700: #C78C56;

// Orange
$orange-50: #C78C56;
$orange-100: #C78C56;
$orange-200: #C78C56;
$orange-300: #C78C56;
$orange-400: #C78C56;
$orange-500: #C78C56;
$orange-600: #C78C56;
$orange-700: #C78C56;
$orange-800: #C78C56;
$orange-900: #C78C56;
$orange-a100: #C78C56;
$orange-a200: #C78C56;
$orange-a400: #C78C56;
$orange-a700: #C78C56;

// Deep Orange
$deep-orange-50: #C78C56;
$deep-orange-100: #C78C56;
$deep-orange-200: #C78C56;
$deep-orange-300: #C78C56;
$deep-orange-400: #C78C56;
$deep-orange-500: #C78C56;
$deep-orange-600: #C78C56;
$deep-orange-700: #C78C56;
$deep-orange-800: #C78C56;
$deep-orange-900: #C78C56;
$deep-orange-a100: #C78C56;
$deep-orange-a200: #C78C56;
$deep-orange-a400: #C78C56;
$deep-orange-a700: #C78C56;

// Brown
$brown-50: #EFEBE9;
$brown-100: #D7CCC8;
$brown-200: #BCAAA4;
$brown-300: #A1887F;
$brown-400: #8D6E63;
$brown-500: #795548;
$brown-600: #6D4C41;
$brown-700: #5D4037;
$brown-800: #4E342E;
$brown-900: #3E2723;

// Grey
$grey-50: #134A5A;
$grey-100: #134A5A;
$grey-200: #134A5A;
$grey-300: #134A5A;
$grey-400: #134A5A;
$grey-500: #134A5A;
$grey-600: #134A5A;
$grey-700: #134A5A;
$grey-800: #134A5A;
$grey-900: #134A5A;

// Blue Grey
$blue-grey-50: #52677C;
$blue-grey-100: #52677C;
$blue-grey-200: #52677C;
$blue-grey-300: #52677C;
$blue-grey-400: #52677C;
$blue-grey-500: #52677C;
$blue-grey-600: #52677C;
$blue-grey-700: #52677C;
$blue-grey-800: #52677C;
$blue-grey-900: #52677C;

// Black
$black: #0C0E11;

// White
$white: #D0EBEE;
